.row {
  display: flex;
  width: 600px;
  margin: 0 auto;
}

.column {
  padding: 10px 20px 10px 10px;
  img {
    max-height: 500px;
  }
}
.smaller {
  font-size: 0.5em;
}
@media (max-width: 400px) {
  .row {
    display: block;
    width: 300px;
    .center {
      text-align: center;
    }
  }
}

.nostylebtn {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font-size: 1.2em;
  border-bottom: 1px solid #444;
  cursor: pointer;
  font-weight: bold;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.btn:hover {
  background-color: #48a14b;
  color: white;
}
