<div class="row">
  <div class="column"><button class="nostylebtn" (click)="goBack()">&#8249; go back</button></div>
</div>

<div class="beer" *ngFor="let beer of beers$ | async; let i = index">
  <div *ngIf="i === id" class="row">
    <div class="column center"><img src="{{ beer.image_url }}" /></div>
    <div class="column">
      <h1>
        {{ beer.name }}
      </h1>
      <p>
        <b>*ABV: {{ beer.abv }} - *IBU: {{ beer.ibu }}</b>
      </p>
      <p>{{ beer.description }}</p>
      <p><b>First brewed:</b> {{ beer.first_brewed }}</p>
      <p>
        <b>Foods that pair with {{ beer.name }}:</b>
      </p>
      <ul>
        <li *ngFor="let food of beer.food_pairing">{{ food }}</li>
      </ul>
      <p><b>Contributed by:</b> {{ beer.contributed_by.split("<")[0] }}</p>
      <p>
        <b
          >Twitter: <a href="https://twitter.com/{{ beer.contributed_by.split('<')[1].split('>')[0] }}" target="_blank">{{ beer.contributed_by.split("<")[1].split(">")[0] }}</a></b
        >
      </p>
      <p><b>Original Gravity:</b>{{ beer.target_og }}</p>
      <p><b>Final Gravity: </b>{{ beer.target_fg }}</p>

      <button class="btn" (click)="toggle()">See Gravity Difference</button>
      <p *ngIf="show"><b>Gravity difference decrease: </b>{{ gravityPercent | number: "1.0-2" }}%</p>
    </div>
  </div>
</div>
