$width: 200px;
$height: 300px;

:host {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;
  align-items: center;

  .beer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $width;
    height: $height;
    margin: 15px;
    h4 {
      margin-bottom: 0;
    }
    h4,
    p {
      text-align: center;
    }
    img {
      height: 50%;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 1420px) {
    max-width: 70%;
    margin: 50px auto;
  }
}

.search {
  position: absolute;
  top: 20px;

  input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  input::-webkit-input-placeholder {
    font-size: 16px;
  }
}

.search-results {
  height: 50px;
  
}
