<div class="search">
  <input type="text" placeholder="Search by name" [(ngModel)]="beername" />
  <button class="btn" (click)="toggleModal()">Message from John Moran</button>
</div>

<modal *ngIf="modalOpen" (onClose)="toggleModal()"></modal>

<div
  class="beer"
  *ngFor="
    let beer of beersArray
      | filterlist: beername
      | paginate: { itemsPerPage: 4, currentPage: p }
  "
>
  <h4>{{ beer.name }}</h4>
  <p>
    {{ beer.tagline }}
  </p>
  <img src="{{ beer.image_url }}" routerLink="/beer-details/{{ beer.id }}" />
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
